<%= form_with(model: inventory) do |form| %>
  <% if inventory.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
        <% inventory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="py-5 w-25">
    <div class="form-floating mb-3">
      <%= form.text_field :serial_number, class: "form-control font-monospace", id: "floatingInput",   placeholder: "Serial No." %>
      <%= form.label :serial_number, for: "floatingInput", class: "font-monospace" %>
    </div>

    <div class="form-floating mb-3">
      <%= form.text_field :model, class: "form-control font-monospace", id: "floatingInput",   placeholder: "Model" %>
      <%= form.label :model, for: "floatingInput", class: "font-monospace" %>
    </div>


    <div class="d-flex justify-content-between">
      <%= link_to "Back to Units", units_path, class: "btn btn-outline-secondary" %>
      <% if request.path.include?"/edit" %>
        <%= link_to "Show Unit", @unit, class: "btn btn-outline-success" %>
      <% end %>
      <%= form.submit "#{ (request.path.include?"/edit")? 'Update' : 'Submit' }", class: "btn #{ (request.path.include?"/edit")? 'btn-warning' : 'btn-primary'}"%>
    </div>
  </div>


  <div>
    <%= form.label :serial_number, style: "display: block" %>
    <%= form.text_field :serial_number %>
  </div>

  <div>
    <%= form.label :model, style: "display: block" %>
    <%= form.text_field :model %>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
