<div id="<%= dom_id history %>">
  <p>
    <strong>Name:</strong>
    <%= history.name %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= history.action %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= history.description %>
  </p>

  <p>
    <strong>Module:</strong>
    <%= history.module_id %>
  </p>

</div>
