<%= form_with(model: supplier) do |form| %>
  <% if supplier.errors.any? %>
  <div class="mt-5">
    <% supplier.errors.each do |error| %>
      <div class="alert alert-warning alert-dismissible fade show font-monospace text-start" role="alert">
        <%= error.message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>
<% end %>

<div class="py-5 w-25">
  <div class="form-floating mb-3">
    <%= form.text_field :name, class: "form-control font-monospace", id: "floatingInput",   placeholder: "Supplier Name" %>
    <%= form.label :name, for: "floatingInput", class: "font-monospace" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.email_field :email, class: "form-control font-monospace", id: "floatingInput",   placeholder: "Supplier Email" %>
    <%= form.label :email, for: "floatingInput", class: "font-monospace" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :point_person, class: "form-control font-monospace", id: "floatingInput",   placeholder: "Supplier Email" %>
    <%= form.label :point_person, for: "floatingInput", class: "font-monospace" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :contact_number, class: "form-control font-monospace", id: "floatingInput",   placeholder: "Supplier Email" %>
    <%= form.label :contact_number, for: "floatingInput", class: "font-monospace" %>
  </div>

  <div class="d-flex justify-content-between">
    <%= link_to "Back to suppliers", suppliers_path, class: "btn btn-outline-secondary" %>
    <% if request.path.include?"/edit" %>
      <%= link_to "Show suppliers", @supplier, class: "btn btn-outline-success" %>
    <% end %>
    <%= form.submit "Submit", class: "btn btn-primary"%>
  </div>
</div>
<% end %>
