
<tr id="<%= dom_id supplier %>">
  <td>
    #
  </td>
  <td>
    <%= supplier.name %>
  </td>
  <td>
    <%= supplier.created_by_user.email %>
  </td>
  <td class="text-center">
    <div class="btn-group " role="group" aria-label="Table Actions">
      <%= link_to "Show", supplier, class: "btn btn-outline-primary" %>
      <%= link_to "Edit", edit_supplier_path(supplier), class: "btn btn-outline-info" %>
      <%= link_to "Delete", supplier, data: {:confirm => 'Are you sure?'}, method: :delete , class: "btn btn-outline-danger" %>
    </div>
  </td>
</tr>
