<!DOCTYPE html>
<html>
  <head>
    <title>JBP - Ruby on Rails</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%
=begin%>
 <%= yield :inline %>
  <body>
    <% if page_without_navbar %>
      <%= render 'layouts/navbar' %>
    <% end %>
    <%= yield :breadcrumb %>
    <section class="py-5 text-center container">

      <%= render 'layouts/flash' %>
      <%= yield %>
    </section>
    <%= render 'layouts/footer' %>
  </body>
  <%= render 'layouts/js' %> 
<%
=end%>
  <body>
      
    <%= render 'layouts/flash' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
